{% extends 'base.html.twig' %}

{% block title %}All4Sport - Mon Compte
{% endblock %}

{% block body %}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success alert-dismissible fade show" role="alert">
			{{ message }}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endfor %}

	<div class="container mt-5">
		<h1 class="underline mb-4">
			<strong>Mon Compte</strong>
		</h1>
		<hr>
		<div class="card shadow-lg border-0 rounded">
			<div class="card-body">
				<div class="d-flex">
					<div class="d-flex flex-column align-items-start pe-4" style="width: 250px;">
						<a href="#" id="info-toggle" class="btn btn-outline-primary mb-3 w-100 active-btn">
							<i class="bi bi-info-circle"></i>
							Profile
						</a>
						<a href="#" id="other-info-toggle" class="btn btn-outline-secondary mb-3 w-100">
							<i class="bi bi-person"></i>
							Informations
						</a>
						<a href="{{ path('app_logout') }}" class="btn btn-outline-danger w-100">
							<i class="bi bi-box-arrow-right"></i>
							Déconnexion
						</a>
					</div>
					<div class="ms-3 flex-grow-1 ps-4">
						<div id="info-content" class="section-content">
							<div class="border p-3 rounded bg-light shadow-sm mb-3">
								<p>
									<strong>Nom</strong><br>
									John Doe</p>
								<p>
									<strong>Email</strong><br>
									john.doe@example.com</p>
								<p>
									<strong>Date de Naissance</strong><br>
									<input type="date" disabled></p>
							</div>
						</div>
						<div id="other-info-content" class="section-content d-none">
							<div class="border p-3 rounded bg-light shadow-sm mb-3">
								<p>
									<strong>Adresse :</strong>
									123 Rue Exemple, Paris</p>
								<p>
									<strong>Téléphone :</strong>
									0123456789</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
